


/*Gerais*/

.bg-t{
    background-color:transparent;
}
.bg-dark{
    background-color: #1f1f1f !important;
}

h1{
    font-family:'Lato', sans-serif;
    font-weight: bold;
}

/* navbar */
.navbar{
    position: absolute;
    top:0;
    width: 100%;
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2vh;
}

.collapse a{
    display: inline-block;
    position: sticky;
    z-index: 1000;
    margin: 5px;
}

.navbar a:hover{
    text-decoration: none;
    color: rgb(255, 220, 120) !important;
    
}
.navbar-brand{
    color: bisque !important;
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Noto Serif', serif;
    font-weight: lighter;
    font-style: italic;
}
.navbar-toggler{
    z-index: 1000;
    filter: invert(1 );
}

/* navbar */



/* Banner */
.meuBanner{
    background-image: url("../images/chapa.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: auto;
    height: 85vh;
    text-shadow: 1px 1px 1px #000000;
}
.meuBanner h1{
    font-size: 7vh;
    font-family:'Lato', sans-serif;
    font-weight: bold;
}
.meuBanner h3{
    font-size: 3vh;
    font-family: 'Noto Serif', serif;
    font-style: italic;
}
.saudacoes{
    padding-top:30vh;
}

 .meuBanner button{
    background-color: rgb(255, 211, 67) !important;
    border: rgb(255, 196, 0) !important;
    height: 5vh;
    width: 19vh;
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white !important;    
}
button:hover{
    color:white;
    background-color: rgb(255, 215, 86) !important;
}
/* Banner */


/* Serviços */

.servicos h1{
    font-family:'Lato', sans-serif;
    font-weight: bold;
}
.servicos h3{
    font-family:'Lato', sans-serif;
    font-weight: bold;
}
.text{
    font-family: 'Asar', serif;
    font-style: normal;
}
/* Serviços */



/*Portfólio */
.portfolio h1{
    font-family:'Lato', sans-serif;
    font-weight: bold;
}
.portfolio h3{
    font-family:'Lato', sans-serif;
    font-weight: bold;
}
.card{
    border: 0;
}
/*Portfólio */



/*Sobre nos */
.sobrenos h1{
    font-family:'Lato', sans-serif;
    font-weight: bold;
}

.sobrenos h4{
    font-size: 3vh;
    font-family:'Lato', sans-serif;
}
.card-text h5{
    font-size: 2vh;
    font-family:'Lato', sans-serif !important;
}
.Rbutton{
    width: 140px;
    height: 140px;
    background-color: rgb(255, 196, 0) !important;
}

.Rbutton:hover{
    background-color: rgb(255, 220, 103) !important;
    border-color: rgb(255, 196, 0) !important; 
}
.rounded-circle{
    border-color:rgb(236, 236, 236);
    border-style:solid; 
    border-width: 6px;
}
.linha{
    background-image: url("../images/linha.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.linha1{
    background-image: url("../images/linha1.jpg");
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
}
.linha2{
    background-image: url("../images/linha2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
/*Sobre nos */


/*Equipe*/

.equipe p{
    font-family: 'Asar', serif;
}
/*Equipe*/


form button{
    background-color: rgb(255, 211, 67) !important;
    border: rgb(255, 196, 0) !important;
    height: 50px;
    width: 25vh;
    font-size: 2vh !important;
    font-family: 'Lato';
    font-weight: lighter;
    color: white !important;    
}


/*footer*/
footer{
    font-family: 'Asar', serif;
    font-size: 1.5vh;
}
.yellow{
    color:rgb(255, 196, 0);
    word-wrap: none;
}
/*footer*/



